@media all and (max-width: 800px){

    @font-face{
        font-family:'Oswald';
        src:url('../fonts/oswald/Oswald-Regular.ttf');
    }
    .wrapperrr {
        overflow-x: hidden !important
    }
    #header_ua, #header_ru{
        position: relative;
        background-color: rgba(235, 181, 144, 0);
    }
    .header-phone{
        position: relative;
        left:0px;
    }
    .header-main {
        background-color: rgba(235, 181, 144, 0.71);
    }
    .header-main-icon {
        margin-top:15px;
    }
    .header-main-icon span {
        margin-left:0px;
    }
    .header-main-icon-ua {
        margin-top:15px;
        margin-left:10px;
    }
    .header-main-icon-ua span{
        font-size: 1.9em;
        margin-left:0px;
        margin-top:10px;
    }
    .header-main-tel {
        font-size:0.9rem;
        margin-left:7px;
    }
    #UKR_1{
        position: absolute;
        top: -5px;
        right: 5%;
        font-weight: bold;
        font-size: 1.2rem;
    }
    #RUS_1{
        position: absolute;
        top: -5px;
        right:15%;
        font-size: 1.2rem;
    }
    #UKR_2{
        position: absolute;
        top: -5px;
        right: 5%;
        font-size: 1.2rem;
    }
    #RUS_2{
        position: absolute;
        top: -5px;
        right:15%;
        font-size: 1.2rem;
    }
    #content_ua, #content_ru{
        margin:40px auto 0px;
    }
    .content-variant-text{
        width:80%;
        margin:20px auto 20px;
        font-size: 19px;
    }
    .content-variant-text p{
        height:100%;
        font-size: 19px;
    }
    .content-uslugi-title{
        margin-top:0px;
    }
    #footer_ua, #footer_ru {
        background-color: rgba(95, 95, 95, 0);
    }
    .footer-container {
        background-color: rgba(95, 95, 95, 0.9);
        padding:5px 5px 0 15px;
    }
    .footer-social {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .footer-firm {
        margin-top: 15px;
    }


}



