@charset "utf-8";
/*
Korneyenko Dmitriy
-------------------------------------------------------*/

@font-face{
    font-family:'Oswald';
    src:url('../fonts/oswald/Oswald-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
}
.scrollup{
    width:40px;
    height:40px;
    opacity:0.6;
    position:fixed;
    bottom:50px;
    right:40px;
    display:none;
    text-indent:-9999px;
    background: url('../img/icon_top.png') no-repeat;
}

.wrapperr {
    overflow-x: hidden !important;
    height: 100vh;
    width:100%;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../img/sidelka_phone.png);
}
#header_ua, #header_ru {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 120px;
    background-color: rgba(235, 181, 144, 0.71);
    width:100%;
}
.header-phone{
    position: relative;
    max-width:1000px;
    height: 100%;
    margin:auto;
    right:8px;
}
.header-main {
    font-family: "Oswald", serif;
}
.header-main-tel {
    font-size:1.5rem;
    /*text-align:left;*/
    padding-top:5px;
    padding-bottom:5px;
    margin-left:20px;
}
.header-main-icon {
    margin-top:25px;
    margin-left:20px;
    /*font-size:2.9rem;*/
}
.header-main-icon span {
    margin-left:25px;
    margin-top:20px;
    font-size:2.7rem;
    vertical-align: middle;
}
.header-main-icon-ua {
    margin-top:25px;
    margin-left:20px;
}
.header-main-icon-ua span{
    font-size:2.7rem;
    margin-left:20px;
    vertical-align: middle;
}

#UKR_1{
    cursor:pointer;
    position: absolute;
    top: 5px;
    right: 5%;
    font-weight: bold;
}
#UKR_2{
    cursor:pointer;
    position: absolute;
    top: 5px;
    right: 5%;
}
#RUS_1, #RUS_2{
    cursor:pointer;
    position: absolute;
    top: 5px;
    right:15%;
}
#content_ua, #content_ru{
    position: relative;
    min-height:700px;
    max-width:1000px;
    margin:120px auto 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 0 solid rgba(255, 255, 255, 1);
    border-bottom: 0 solid rgba(255, 255, 255, 1);
}
.content-main-text{
    position: relative;
    width:80%;
    border:1px solid rgba(64, 64, 65, 0.3);
    margin:40px auto 20px;
    padding:5px 5px 1px 5px;
    text-indent: 20px;
    font-family: oswald-bold, oswald, sans-serif;
}
.content-main-text-two{
    position: relative;
    width:80%;
    height:220px;
    border:1px solid rgba(64, 64, 65, 0.3);
    margin:40px auto 20px;
    padding:5px 5px 1px 5px;
    text-indent: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
}
.content-variant{
    position:relative;
    text-align: center;
    font-size: 28px;
    font-family: oswald-bold, oswald, sans-serif;
    padding:5px;
    background-color: white;
    box-shadow:5px 5px 3px rgba(0, 0, 0, 0.3);
    border:1px solid rgba(64, 64, 65, 0.3);
    margin: 20px 40px 20px 40px;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.content-variant-title{
    background-color:rgba(255, 255, 255, 0.6);
}
.content-variant img{
    width: 100%;
    height: 195px;
    object-fit: cover;"
}
.content-variant-text{
    position: relative;
    width:100%;
    border:1px solid rgba(64, 64, 65, 0.3);
    margin:20px 40px 20px -40px;
    text-indent: 20px;
    padding:10px;
    font-family: oswald-bold, oswald, sans-serif;
    font-size: 16px;
}
.content-uslugi{
    position: relative;
    width:80%;
    border:1px solid rgba(64, 64, 65, 0.3);
    margin:20px auto 20px;
    padding:30px;
    font-family: oswald-bold, oswald, sans-serif;
    font-size: 20px;
}
.content-uslugi-title{
    text-align: center;
    font-size: 40px;
    font-family: oswald-bold, oswald, sans-serif;
}
.content-feedback{
    position: relative;
    width:80%;
    height:280px;
    border:1px solid rgba(64, 64, 65, 0.3);
    margin:10px auto 40px;
    padding:30px;
}
.content-feedback-title{
    text-align: center;
    font-size: 40px;
    font-family: oswald-bold, oswald, sans-serif;
}
.content-feedback-introduction{
    text-align: justify;
    font-size: 20px;
    margin:5px auto 5px;
    width:80%;
    font-family: oswald-bold, oswald, sans-serif;
}
.carousel-feedback{
    position:relative;
    height: 380px;
    display:block;
    margin:30px 5vw 20px 5vw;
    border:1px solid rgba(64, 64, 65, 0.3);
}
.carousel-feedback img{
    height:380px;
    object-fit: contain;
}
.carousel-indicators {
    bottom: -20px;
}
.carousel-indicators li{
    border-radius: 50%;
    height: 20px;
    flex: 0 1 20px;
    background-color: rgba(100, 99, 99, 0.5);
}
.carousel-indicators .active {
    background-color: #fa0707;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fa0707' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fa0707' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-item {
    margin-bottom:20px;
}

/*.content-uslugi li{*/
/*    list-style-type: none; !* Убираем маркеры у списка *!*/
/* }*/
/*.content-uslugi li:before {*/
/*    content: "√ "; !* Добавляем в качестве маркера символ *!*/
/*}*/

#footer_ua, #footer_ru {
    position:relative;
    margin:0 auto 0;
    background-color: rgba(95, 95, 95, 0.9);
    border-top: 0px solid rgba(64, 64, 65, 1);
    border-bottom: 0px solid rgba(64, 64, 65, 1);
}
.footer-container {
    position: relative;
    min-height: 100%;
    width:100%;
    margin:0px auto 0px;
    color: #fafafc;
}
.contact-data {
    position: relative;
    left:20px;
    margin: 15px 15px 0 0;
    width: 330px;
    font-size: 15px;
    font-family: "book antiqua", serif;
}
.footer-firm {
    font-size: 28px;
    text-align:center;
    margin-top: 45px;
}
.footer-contacts {
    font-size: 18px;
    margin-top: 2px;
    padding-bottom: 5px;
}
.footer-time-work {
    font-size: 18px;
    margin-top: 20px;
}
.footer-social {
    margin-top: 60px;
}